/*
cinza: #707070;
*/

/*reset*/
* {
    padding: 0;
    margin: 0;
}

/*fontes*/
a, h2, label, input, button, textarea, .copyright {
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}

a, label, input, button, .copyright {
    font-size: 1.2em;
}

a {
    font-size: 1.2em; /* + - 24px */
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    font-size: 1.6em; /* 32px */
    font-weight: normal;
    text-transform: uppercase;
}

textarea {
    font-size: 1.125em; /* 18 / 16 */
}

.container {
    background: transparent;
    border: solid 1px #707070;    
    width: 75%; /* + - 960px */
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
    margin-bottom: 3.665%; /* + - 50px */
}
    .header .container {
        margin-top: 2.0833%; /* 26px */
    }

        .header a, .copyright {
            display: inline-block;
            margin-left: 1.0416%; /* 10 / 960 (.container) */
            padding: 2.9687% 0; /* 28.5 / 960 (.container) */
        }

/*formulário*/
.formulario {
    width: 100%;
    margin-bottom: 4%; /* + - 50px */
}
    .formulario h2 {
        text-align: center;
        margin: 2.96875% 0; /* 28.5 / 960 (.container)*/
        
    }

    .formulario label, input {
        display: block;
        margin-left: 1.0416%; /* 10 / 960 (.container) */
    }

    .formulario label {
        margin-bottom: 1.09375%; /*10.5 / 960 (.container)  */
    }

    .formulario input {
        padding: 0.5208% 0.1041%;
        width: 47.9166%; /* 460 / 960 (.container) */
        margin-bottom: 2.0833%; /* 20 / 960 (.container) */
    }

    .formulario textarea {
        margin-left: 1.0416%; /* 10 / 960 (.container) */
        width: 47.9166%;
        padding-left: 0.5208%; /* 5 / 960 (.container) */ 
        margin-bottom: 2.0833%; /* 20 / 960 (.container) */
    }

    .formulario button {
        background:transparent;
        margin: 2.0833% 0 2.0833% 1.0416%; /* 20 / 960 (.container)  10 / 960 (.container) */
        width: 19.2708%; /* 185 / 960 (.container) */
        padding: 0.625% 0;
        border: solid 1px #707070;
    }

/*footer*/
footer {
    width: 100%;
    margin-bottom: 2.0833%; /* 26px */
}

    .copyright {
        margin-left: 1.0416%; /* 10 / 960 (.container) */
    }
