/* Estilo global para o site */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo para o cabeçalho do site */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilo para o título do cabeçalho */
header h1 {
  margin: 0;
  font-size: 36px;
}

/* Estilo para a navegação */
nav {
  background-color: #666;
  color: #fff;
  padding: 10px;
}

/* Estilo para os links da navegação */
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

/* Estilo para os links da navegação quando o mouse passa por cima */
nav a:hover {
  text-decoration: underline;
}

/* Estilo para as seções do site */
section {
  padding: 20px;
}

/* Estilo para a seção de apresentação */
section#apresentacao {
  background-color: #f7f7f7;
}

/* Estilo para a seção de experiências */
section#experiencias {
  background-color: #ebebeb;
}

/* Estilo para a seção de projetos */
section#projetos {
  background-color: #d7d7d7;
}

/* Estilo para a seção de habilidades */
section#habilidades {
  background-color: #c3c3c3;
}

/* Estilo para o título da seção */
section h2 {
  font-size: 30px;
  margin-top: 0;
}

/* Estilo para a lista de habilidades */
section ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilo para cada item da lista de habilidades */
section li {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Estilo para o fundo do item da lista de habilidades quando o mouse passa por cima */
section li:hover {
  background-color: #ccc;
}

/* Estilo para o título da seção */
section h2 {
  font-size: 30px;
  margin-top: 0;
  text-align: center; /* adiciona centralização */
}

/* Estilo para a seção de contato */
section#contato {
  background-color: #fff;
  padding: 50px 0;
}

section#contato h2 {
  text-align: center;
}

section#contato p {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 30px;
}

section#contato ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

section#contato li {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4;
}

